.btn-primary {
  border: solid white 1px;
  background: -webkit-gradient(linear, left top, right bottom, from(#c300ff), to(#77149e)) !important;
  background: linear-gradient(to right bottom, #c300ff, #77149e) !important;
}

.text-primary {
  color: magenta !important;
}

body {
  font-family: 'Trebuchet Ms', Courier, monospace;
  font-size: large;
  width: 100%;
  height: 100vh;
}

.container-fluid {
  margin: 0% 0%;
  overflow: hidden;
}

.navbar {
  font-size: 1.2em;
}

.navbar li {
  margin-right: 1.5em;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel-caption .title {
  font-size: 4em;
  font-weight: bolder;
  margin-bottom: 0%;
  text-shadow: 1px 1px 0.9em black;
}

.carousel-caption .btn {
  font-size: x-large !important;
}

.carousel-caption .sub-title {
  font-size: x-large;
}

hr {
  height: 1.5px;
  background: white;
}

.footer {
  color: azure;
}

.footer hr {
  width: 35%;
}

.marge {
  margin-bottom: 70px;
}
/*# sourceMappingURL=style.css.map */